# MacOS
.DS_Store

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
.terraform.tfstate.lock.info

# Go
backend/backend
# Unused scripts (if not deleted)
*.sh

# Sensitive
*.key
*.pem

# IDEs
.vscode/
.idea/
*.iml

# Logs
*.log